.level-picker-up,
.level-picker-down{
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
}

.level-list{
    position:absolute;
    display:none;
    overflow:auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.level-list::-webkit-scrollbar {
    width: 0 !important
}

.level-list.show{
    display:block;
}
.level-list-buttons{
    padding-right:15px;
    overflow: auto;
}

.leaflet-right .level-list{
    right:30px;
}
.leaflet-left .level-list{
    left:30px;
}
.leaflet-top .level-list{
    top:0;
}
.leaflet-bottom .level-list{
    bottom:0;
}

.level-picker a{
    -webkit-box-shadow: inset 1px -5px 10px 0 #FFF;
    -moz-box-shadow: inset 1px -5px 10px 0 #FFF;
    box-shadow: inset 1px -5px 10px 0 #FFF;
}
.level-picker div.arrows{
    background:#EEE;
    -webkit-box-shadow: inset 1px -5px 10px 0 #DFDFDF;
    -moz-box-shadow: inset 1px -5px 10px 0 #DFDFDF;
    box-shadow: inset 1px -5px 10px 0 #DFDFDF;
    padding:2px 5px;
}
.top-arrow-button{
    width:16px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #888;
}
.bottom-arrow-button{
    width:16px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #888;
}

.level-list-button.selected,
.level-picker-level-info.selected{
    background:#E5E5E5;
    -webkit-box-shadow: inset 1px -5px 10px 0 #EEE;
    -moz-box-shadow: inset 1px -5px 10px 0 #EEE;
    box-shadow: inset 1px -5px 10px 0 #EEE;
}
.level-list-button.selected:hover,
.level-picker-level-info.selected:hover{
    background:#D5D5D5;
    -webkit-box-shadow: inset 1px -5px 10px 0 #DDDDDD;
    -moz-box-shadow: inset 1px -5px 10px 0 #DDDDDD;
    box-shadow: inset 1px -5px 10px 0 #DDDDDD;
}